
{{!-- Burger Available --}}
<div class="container">
    <h1 class="title text-center">Eat Da Burgers!</h1>
    <div class="row justify-content-center text-center mb-2 my-md-3">

        <h2 class="col-12">What Burger Would Like To Eat?</h2>
        <form class="create-form">
            <div class="form-group">
                <label for="newburger" id="color-override">Add Burger:</label>
                <input type="text" id="newburger" name="burger" placeholder="Type Your Burger Choice:">
                <button type="submit" class="btn btn-success" id="addburger">Add</button>
            </div>
        </form>
    </div>

    {{!-- Burger List --}}
    <div class="row">
        <div class="col-sm-6">
            <div class="panel panel-default">
                <div class="panel-heading" id="lefthead"><strong>Burger List</strong></div>
                <div class="panel-body">
                    <ul>
                        {{#each burgers}}
                            {{#unless devoured}}
                                <span><strong> {{this.id}} - {{this.burger_name}}</strong></span>
                                <button type="button" class="eatburger btn btn-primary" id="eatbutton" data-id="{{this.id}}" data-newDevoured="{{devoured}}"></button>
                                <hr>
                            {{/unless}}
                        {{/each}}
                    </ul>
                </div>
            </div>
        </div>
    </div>
    
    {{!-- Burger Eaten --}}
    <div class="col-sm-6">
        <div class="panel panel-default">
            <div class="panel-heading" id="righthead"><strong>Burger Inside Your Stomach</strong></div>
            <div class="panel-body">
                <ul>
                    {{#each burgers}}
                        {{#if devoured}}
                            <span><strong> {{this.id}} - {{this.burger_name}}</strong></span>
                            <button type="button" class="delete btn btn-danger" id="trashbutton" data-id="{{this.id}}" data-newDevoured="{{devoured}}"></button>
                            <hr>
                        {{/if}}
                    {{/each}}
                </ul>
            </div>
        </div>
    </div>
</div>


  