{{!-- Devoured Button --}}
<li class="devoured-burger{{this.id}}">
    {{this.name}}
    {{!-- Devour to Ate Button --}}
    <button class="delete" data-id="{{this.id}}" data-eat="{{this.eat}}">
        {{#if eat}}{{else}}DELETE{{/if}}
    </button>
</li>

{{!-- Not Devoured --}}
<li>
    {{this.name}}
    <button class="eat-burger" data-id="{{this.id}}" data-eat="{{this.eat}}">
        {{#if eat}}EAT{{else}}{{/if}}
    </button>
</li>